@using Microsoft.AspNet.Identity;
@using TeamRoles.Models.Extensions;
@using TeamRoles.Models;
@using TeamRoles.Models.ViewModels;

@model  TeamRoles.Models.ViewModels.HomeIndexViewModel


<div class="container">
    <div class="row padding-top-40">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">

                    <!---- PROFILE PICTURE ---->
                    <div class="row">
                        <div class="col-12 well text-center align-content-center">

                            <img src="~/Users/@User.Identity.GetUserName()/@Url.Content(User.Identity.GetUrlPicture())" class="img-thumbnail" alt="@User.Identity.GetUserName()">

                            <h3>
                                @User.Identity.GetUserName()
                            </h3>

                            @if (User.IsInRole("Teacher"))
                            {
                                <h5>Teacher</h5>
                            }
                            else if (User.IsInRole("Student"))
                            {
                                <h5>Student</h5>
                            }
                            else if (User.IsInRole("Parent"))
                            {
                                <h5>Parent</h5>
                            }
                            else
                            {
                                <h5>Admin</h5>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-1"></div>

                <!--- POST AREA ----------->
                <div class="col-md-8">

                    <div class="row">
                        <div class="col-md-12">
                            @using (Html.BeginForm("Create", "Posts", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <form>

                                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                                    <div class="form-group ">

                                        <textarea class="form-control " id="PostText" style="min-width: 100%" name="PostText" type="text" placeholder="Post something..." rows="4"></textarea>
                                        <input type="hidden" id="UserID" name="UserID" value='@User.Identity.GetUserId()'/>

                                    </div>

                                    <div class="form-group">
                                        <div class="text-right">
                                            <input type="submit" value="Post" class="btn btn-primary"/>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 ex1">
                            @foreach (var post in Model.Posts)
                            {
                                <div class="row well text-center align-content-center">

                                    <div class="col-md-2">

                                        <img class="img-circle" src="~/Users/@post.ApplicationUser.UserName/@Url.Content(post.ApplicationUser.ProfilePic)" height="50" width="50">

                                        <p> @post.ApplicationUser.UserName </p>

                                    </div>

                                    <div class="col-md-8">

                                        <small> @post.PostDate </small>

                                        <p style="font-family: sans-serif">@post.PostText</p>
                                    </div>
                                        
                                    
                                        @if (post.ApplicationUser.UserName == User.Identity.GetUserName() || User.IsInRole("Admin") == true)
                                        {
                                            <div class=""col-md-1>
                                                @Html.Partial("_EditPost", new ViewDataDictionary(new Post() {PostId = post.PostId, PostText = post.PostText, PostDate = post.PostDate, ApplicationUser = post.ApplicationUser}))

                                                
                                            </div>

                                            <div class="col-1">
                                                
                                                @Html.ActionLink(" ", "Delete", "Posts", new {id = post.PostId}, new {@class = "fas fa-eraser"})

                                                @*
                                                <a href="@Url.Action("Delete", "Posts", new {onclick = "return confirm('Are you sure ? Do you want to delete this ?')", @class = "fas fa-eraser fa-2x"}) "></a>
                                                *@

                                            </div>
                                        }
                                </div>
                            } 
                        </div>
                    </div>
                </div><!-- POST END -->
            </div>
        </div>
    </div>
</div>

<style>
    .ex1 {
        max-height: 450px;
        overflow: scroll;
    }
</style>