@using System.Web.UI.WebControls
@using TeamRoles.Models
@model LoginViewModel


<div class="container">
    <div class="row padding-top-40">

        <div class="col-md-4"></div>

        <div class="col-md-4 well" style="text-align: center">

            <section id="loginForm">

                @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {role = "form"}))
                {
                    @Html.AntiForgeryToken()

                    
                    <img src="/Images/Untitled-1.gif" alt=" en-Τάξει" id="testing"/>

                    <h5>Use a local account to log in.</h5>
                    

                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    <div class="form-group">
                        <p>Been here before? Welcome Back!</p>
                        
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.UserName, new {@placeholder = "Username... "})
                            @Html.ValidationMessageFor(m => m.UserName, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password,new {@placeholder = "Password..."})
                            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Log in" class="btn btn-primary"/>
                        </div>
                    </div>

                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                }
            </section>
        </div>
        <div class="col-md-4"></div>


        @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
    </div>
</div>




@*<script type="text/javascript">
    
    document.getElementById("btnClick").onclick = function() {
        document.getElementById("Alert").style.display = "block";
    }

    function myFunction() {
        var x = document.getElementById("myDIV");
        if (@Model.Validated === true ) {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>*@


@*
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@