@model TeamRoles.Models.RegisterViewModel

<div class="container">
    <div class="row margin-top-15">

        <div class="col-md-4"></div>

        <div class="col-md-4 align-content-center well">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new account.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "Mail" })
                    </div>
                    <div class="row">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <p id="Status1" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @id = "Username" })
                    </div>
                    <div class="row">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <p id="Status" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ProfilePic, new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.ImageFile, new { type = "file", required = "required" })
                        @Html.ValidationMessageFor(model => model.ProfilePic, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BirthDay, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="date" name="BirthDay" id="BirthDay">
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Your Role", new { @class = "control-label" })
                    <div class="col-md-12">
                        @*@Html.DropDownList("Name")*@
                        @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, " ")
                    </div>
                </div>

                <div class="form-group align-content-lg-center">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" class="btn btn-primary" value="Register" />
                    </div>
                </div>
            }
        </div>

        <div class="col-md-4"></div>

    </div>
</div>



@section Scripts {


    @Scripts.Render("~/bundles/jqueryval")

    <script>
   function UserCheck()
   {
       $("#Status").html("Checking...");
       $.post("@Url.Action("CheckUSernameAvailability", "Account")",
       {
           userdata: $("#Username").val()
       },
       function(data) {
           if (data == 0)
           {
               $("#Status").html('<font color="Green">Available! You can take it.</font>');
               $("#Username").css("border-color", "Green");
           }
           else
           {
               $("#Status").html('<font color="Red">That Name is taken. Try another.</font>');
               $("#Username").css("border-color", "Red");
           }
       });
   }

   $(function () {
       $('#Username').on('keyup', UserCheck);
   });
    </script>

    <script>
   function MailCheck()
   {
       $("#Status1").html("Checking...");
       $.post("@Url.Action("CheckMailAvailability", "Account")",
       {
           userdata: $("#Mail").val()
       },
       function(data) {
           if (data == 0)
           {
               $("#Status1").html('<font color="Green">Available! You can take it.</font>');
               $("#Mail").css("border-color", "Green");
           }
           else
           {
               $("#Status1").html('<font color="Red">That Name is taken. Try another.</font>');
               $("#Mail").css("border-color", "Red");
           }
       });
   }

   $(function () {
       $('#Mail').on('keyup', MailCheck);
   });
    </script>


}
