@model TeamRoles.Models.Assignment
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Create Assignment
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body align-content-center">
                @using (Html.BeginForm("CreateAssignment", "Assignments", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.Hidden("CourseId")

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <h5> @Html.LabelFor(model => model.AssignmentName) </h5>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.AssignmentName)
                                @Html.ValidationMessageFor(model => model.AssignmentName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <h5> @Html.LabelFor(model => model.DueDate) </h5>
                            <div class="col-md-12">
                                <input type="date" name="DueDate" id="DueDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <h5> @Html.LabelFor(model => model.Points) </h5>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Points)
                                @Html.ValidationMessageFor(model => model.Points, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <h5> @Html.LabelFor(model => model.Filename) </h5>
                            <div class="col-md-12">
                                <input type="file" name="AssignmentFile" required />
                                @Html.ValidationMessageFor(model => model.Filename, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>