@using Microsoft.AspNet.Identity;
@using TeamRoles.Models.Extensions;
@using TeamRoles.Models
@model TeamRoles.Models.Index_SelectedViewModel


<div class="container">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="card">
                <img alt="Card image cap" class="card-img-top img-fluid" src="~/Users/@Url.Content(Model.CoursePic)" width="100" height="100" />
                <div class="card-block">
                    <h4 class="card-title"> @Model.CourseName </h4>

                    <p class="card-text">
                    <p>@Model.CourseDescription</p>
                    <p>Teacher</p>
                    <p>@Model.Teacher.UserName</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <table class="table">
                <tr>
                    <th>
                        Students
                    </th>
                    @if (User.IsInRole("Teacher"))
                    {
                        <th>
                            Options
                        </th>
                    }
                </tr>
                @foreach (var item in Model.Courses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationUsers.First().UserName)
                        </td>
                        @if (User.IsInRole("Teacher"))
                        {
                        <td>
                            @Html.ActionLink("Details", "Details", "Student", new { id = item.ApplicationUsers.First().Id }, null) |
                            @Html.ActionLink("Delete", "RemoveFromCourse", "Student", new { id = item.ApplicationUsers.First().Id, coursename = Model.CourseName }, null)|
                            @Html.ActionLink("Set Grade", "SetGrades", "Teacher", new { id = item.ApplicationUsers.First().Id, coursename = Model.CourseName, teacherid = Model.Teacher.Id }, null)
                        </td>
                        }
                    </tr>
                }

            </table>
        </div>
        <div class="col-md-4 col-lg-4">
            @if (User.IsInRole("Teacher"))
            {
                ;
                @Html.ActionLink("Create Assignment", "CreateAssignment", "Assignments", new { coursename = Model.CourseName }, null)
                @Html.ActionLink("View Grades", "CourseGrades", "Courses", new { coursename = Model.CourseName,teacherid = Model.Teacher.Id }, null)

            }
            @Html.ActionLink("View Assignments", "ListAssignments", "Assignments", new { coursename = Model.CourseName }, null)
        </div>
        </div>
    </div>
    <a href="/Courses">Back to List</a>

