@model TeamRoles.Models.CourseViewModel



<div class="container">

    <div class="row" style="background: darkgray">
        <div class="col-md-3">
            <p> Course Name </p></div>
        <div class="col-md-3">
            <p> Teacher </p></div>
        <div class="col-md-3">
            <p> Grade </p></div>
        <div class="col-md-3">
            <p> Options </p></div>
    </div>

    <div class="row">

        @foreach (var item in Model.Courses)
        {
            <div class="col-md-3">
                <p> @item.CourseName </p>
            </div>
            <div class="col-md-3">
                <p> @item.TeacherName </p>
            </div>
            <div class="col-md-3">
                <p> @item.Enrollments.FirstOrDefault(c => c.CourseId == item.CourseId).Grade) </p>
            </div>
            <div class="col-md-3">
                @Html.ActionLink("Details", "CourseHome", new {id = item.CourseId}) |
                @Html.ActionLink("Delete", "StudentRemoveCourse", new {id = item.CourseId})
            </div>
        }
    </div>
</div>

@*<table class="table">
    <tr>
        <th>
            CourseName
        </th>
        <th>
            Teacher
        </th>
        <th>
            Grade
        </th>
        <th>
            Options
        </th>
    </tr>
    @foreach (var item in Model.Courses)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUsers.First().UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enrollments.Where(c=>c.CourseId == item.CourseId).FirstOrDefault().Grade)
            </td>
            <td>
                @Html.ActionLink("Details", "CourseHome", new { id = item.CourseId }) |
                @Html.ActionLink("Delete", "StudentRemoveCourse", new { id = item.CourseId })
            </td>
        </tr>
    }

</table>*@
