@using Microsoft.AspNet.Identity;
@using TeamRoles.Models.Extensions;
@using TeamRoles.Models;

@{
    ViewBag.Title = "eν-τάξει";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> @ViewBag.Title </title> 

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
          crossorigin="anonymous">

    <link rel="Shortcut Icon" href="/en-Taxei.ico" type="image/x-icon" />


    @RenderSection("styles", required: false)

</head>

  <body style=" background-color: #D3D3D3">

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style=" background: linear-gradient(#526494, #604484); ">

    <a class="navbar-brand" href="/Home/Index/"><img src="~/Images/Untitled-1.gif" class="img-circle" height="50" width="40" alt="@ViewBag.Title"/></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">

            @if (!User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Home"> Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About"> About </a>
                </li>
            }
            else if (User.IsInRole("Teacher"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Courses/Index">MyCourses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Requests">Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Chat/Index">Chat</a>
                </li>
            }
            else if (User.IsInRole("Student"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Teacher/Index">Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Courses/Index_Selected">My Courses</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Requests">Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Chat/Index">Chat</a>
                </li>
            }
            else if (User.IsInRole("Admin"))
            {

                <li class="nav-item">
                    <a class="nav-link" href="/Teacher/Admin_Index">Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Student/Admin_Index">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Parent/Admin_Index">Parents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Courses/Admin_Index">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Roles/ManageUsers">Roles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Requests">Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Chat/Index">Chat</a>
                </li>
            }
            else if (User.IsInRole("Parent"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Student/Student_Index_ToSelect">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Student/Parent_Index">MyChildren</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Chat/Index">Chat</a>
                </li>
            }
        </ul>
        <div class="pull-right">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-nav mr-auto"}))
                {
                    @Html.AntiForgeryToken()
                    <a class="nav-link" href="/Manage/Index">@User.Identity.GetUserName()</a>
                    <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()"> Log off </a>
                }
            }
            else
            {
                <div class="navbar-nav mr-auto">
                    <a class="nav-link" href="/Account/Register"> Register </a>
                    <a class="nav-link" href="/Account/Login"> Log in </a>
                </div>
            }
        </div>
    </div>
</nav>

    @RenderBody()
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
