@using Newtonsoft.Json

<div class="container">
    @*
        <div class="row" >
    *@
    @*
        <div class="col-md-12 text-center align-content-center padding-top-40">
    *@
    <div class="row">

        <div class="col-md 4"></div>

        <div class="col-md-4">
            @Html.Partial("_Create")
            <h5 style="color: red"> @TempData["sErrMsg"] </h5>
            <br />
            @Html.Partial("_Delete")
        </div>

        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="card-deck">

            <!---- ADD NEW ROLE -------->
            <div class="col-md-4">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    @using (Html.BeginForm("RoleAddToUser", "Roles"))
                    {
                        <div class="card-body text-primary">
                            <h5 class="card-title">Role Add to User</h5>
                            <p class="card-text">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <div class="col-md 12"> Username : @Html.TextBox("UserName", null, new { required = "required" })</div>
                                <div class="col-md 12"> Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...", new { required = "required" })</div>

                                <h5 style="color: red"> @ViewBag.Message </h5>
                                <h5 style="color: red"> @ViewBag.RoleMessage </h5>
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-primary"> <input type="submit" value="Add Role" class="btn btn-success" /></div>
                    }
                </div>
            </div>

            <!---- GET A ROLE FROM A USER -->
            <div class="col-md-4">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    @using (Html.BeginForm("GetRoles", "Roles"))
                    {
                        <div class="card-body text-primary">
                            <h5 class="card-title">Get Roles for a User</h5>
                            <p class="card-text">
                                @Html.AntiForgeryToken()
                                <div class="col-md 12"> Username : @Html.TextBox("UserName", null, new { required = "required" })</div>

                                @if (ViewBag.RolesForThisUser != null)
                                {
                                    <div class="col-md 12 border-info">
                                        <ol>
                                            @foreach (string s in ViewBag.RolesForThisUser)
                                            {
                                                <li>@s</li>
                                            }
                                        </ol>
                                    </div>
                                }
                                else
                                {
                                    <h5 style="color: red"> @ViewBag.ResultMessage </h5>
                                }
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-primary"><input type="submit" value="Get Roles" class="btn btn-info" /></div>
                    }
                </div>
            </div>

            <!---- DELETE A ROLE FROM USER  -->
            <div class="col-md-4">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    @using (Html.BeginForm("DeleteRoleForUser", "Roles"))
                    {
                        <div class="card-body text-primary">
                            <h5 class="card-title">Delete Role from a User</h5>
                            <p class="card-text">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <div class="col-md 12">Username : @Html.TextBox("UserName", null, new { required = "required" })</div>
                                <div class="col-md 12"> Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...", new { required = "required" })</div>

                                <h5 style="color: red"> @ViewBag.Message1 </h5>
                                <h5 style="color: red"> @ViewBag.Message2 </h5>
                                <h5 style="color: red"> @ViewBag.Message3 </h5>
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-primary"> <input type="submit" value="Delete Role" class="btn btn-danger" /></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
    @*
    </div>
</div>
*@





