@model TeamRoles.Models.ViewModels.StudentViewModel

<div class="container">

    <div class="row padding-top-20">

        <!-- STUDENT STATISTICS-->
        <div class="col-md-12 text-center align-content-center">

            <div class="row">

                <div class="col-md-4">
                    <div class="box">
                        <div class="box__body">
                            <div class="stats stats--main">
                                <div class="stats__amount"> @Model.student.Enrollments.Count() </div>
                                <div class="stats__caption"> Course Joined </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="box">
                        <div class="box__body">
                            <div class="stats stats--main">
                                <div class="stats__amount"> @Model.AverageGrade</div>
                                <div class="stats__caption"> Average Grade </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="box__body">
                            <div class="stats stats--main">
                                <div class="stats__amount">@Model.TotalAbsences</div>
                                <div class="stats__caption">Total Absences </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="row padding-top-20">

        <div class="col-md-3">

            <!-------- STUDENT PIC ----------->
            <div class="row">
                <div class="col-md-12 text-center align-content-center well">

                    <img alt="@Model.student.UserName"
                         img src="/Users/@Model.student.UserName/@Url.Content(Model.student.ProfilePic)"
                         class="rounded"
                         width="200"
                         height="200"/>
                    <h6> @Model.student.UserName</h6>
                    <dl>
                        <dt>Email:</dt>
                        <dd>@Model.student.Email</dd>
                        <dt>Age:</dt>
                        <dd>@Model.Age</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-8 text-center align-content-center well ">

            <!---------- COURSES LIST --------->
            
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th>Course Pic</th>
                    <th>Course Name</th>
                    <th>Teacher</th>
                    <th>Grade</th>
                    <th>Absences</th>
                   
                </tr>
                </thead>

                <tbody>

                    @if (Model.student.Enrollments.Count() != 0)
                    {
                        foreach (var item in Model.student.Enrollments)
                        {

                            <tr class="table-active">
                                <td> <img src="~/Users/@item.Course.Teacher.UserName/@item.Course.CourseName/@Url.Content(item.Course.CoursePic)" class="img-circle" height="70" width="70"/></td>
                                <td> @item.Course.CourseName </td>
                                <td>@item.Course.Teacher.UserName</td>
                                @if (item.Grade == -1)
                                {
                                    <td>Not Set</td>
                                }
                                else
                                {
                                    <td> @item.Grade </td>
                                }
                                @if (item.Absences == -1)
                                {
                                    <td>Not Set</td>
                                }
                                else
                                {
                                    <td> @item.Absences</td>
                                }
            
                                @*<td>
                                    <a href="@Url.Action("Details", "Courses", new {id = item.CourseId})"><i class="fas fa-info-circle fa-2x"></i></a>
                                </td>*@
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="table-danger">
                            <td></td>
                            <td>This Student has no Courses Yet</td>
                            <td> </td>
                            <td></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <a href="/Teacher/Admin_Index"><i class="padding-top-20 fas fa-chevron-left"></i> Back to Teachers </a>
    }
    else if(User.IsInRole("Parent"))
    {
        <a href="/Student/Parent_Index"><i class="padding-top-20 fas fa-chevron-left"></i> Back to Students </a>
    }
    
</div>

