@using Microsoft.AspNet.Identity
@using TeamRoles.Models.Extensions
@model IEnumerable<TeamRoles.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "Teacher", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input type="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Users/@User.Identity.GetUserName()/@Url.Content(@User.Identity.GetUrlPicture())" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Select", "Index_ToSelect", "Courses", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

